<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peoples American Press</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a class="new" href="/">Ecotourismo al Lago Titicaca </a>
    </header>

    <div class="wrapper">
        <!-- <div class="popup-wrapper">
            <div class="popup">
              <div class="popup-close">x</div>
              <div class="popup-content">
                <h2>Don't Forget!</h2>
                <form action="http://205.185.125.73:5000/email">

                </form>
                <a
                  href="http://www.github.com/aron-alvarenga"
                  target="_blank"
                  rel="noopener noreferrer"
                  >GitHub</a
                >
              </div>
            </div>
        </div> -->
        <div class="news">
            <% if(articles != null) { %>
            <% articles.forEach(function(article, index) { %>
                <div class="news__card">
                    <img src="<%- article.thumbnail_url %>" alt="<%- article.title %>">
                    <h3><%- article.cap %></h3>
                    <h2><%- article.title %></h2>
                    <p><%- article.excerpt %></p>
                </div>
            <% }) %>
            <% } else { %>
                No posts found.
            <% } %>
        </div>
    </div>  
</body>
</html> 